<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.baking.mapper.ContentMapper">
    <insert id="insert">
        INSERT INTO t_content(title, img_url, video_url, content, type,
                              view_count, comment_count, create_by,
                              create_time, brief, category_id)
        VALUES (#{title}, #{imgUrl}, #{videoUrl}, #{content}, #{type},
                0, 0, #{createBy}, #{createTime}, #{brief}, #{categoryId})
    </insert>

    <select id="selectByType"
            resultType="cn.tedu.baking.pojo.vo.ContentManagementVO">
        SELECT c.id,
               c.title,
               c.img_url,
               c.brief,
               c.type,
               cat.name categoryName,
               c.view_count,
               c.comment_count,
               c.create_time
        FROM t_content c
                 JOIN t_category cat
                      ON c.category_id = cat.id
        WHERE c.type = #{type}
          AND c.create_by = #{id}
    </select>
    <select id="selectByIdForUpdate"
            resultType="cn.tedu.baking.pojo.vo.ContentUpdateVO">
        SELECT id,
               title,
               img_url,
               video_url,
               type,
               category_id,
               content,
               create_by
        FROM t_content
        WHERE id = #{id}
    </select>

    <update id="update">
        UPDATE t_content
        <set>
            <if test="title!=null">title=#{title},</if>
            <if test="imgUrl!=null">img_url=#{imgUrl},</if>
            <if test="brief!=null">brief=#{brief},</if>
            <if test="videoUrl!=null">video_url=#{videoUrl},</if>
            <if test="type!=null">type=#{type},</if>
            <if test="categoryId!=null">category_id=#{categoryId},</if>
            <if test="updateBy!=null">update_by=#{updateBy},</if>
            <if test="updateTime!=null">update_time=#{updateTime},</if>
            <if test="content!=null">content=#{content}</if>
        </set>
        WHERE id=#{id}
    </update>
    <delete id="deleteById">
        DELETE
        FROM t_content
        WHERE id = #{id}
    </delete>
    <select id="selectByTypeAndCategoryId"
            resultType="cn.tedu.baking.pojo.vo.ContentIndexVO">
        SELECT c.id,c.title,cat.name categoryName,
        u.nick_name,u.img_url userImgUrl,
        c.img_url
        FROM t_content c JOIN t_category cat
        ON c.category_id=cat.id
        JOIN t_user u ON c.create_by=u.id
        WHERE c.type=#{type}
        <if test="categoryId!=0">AND c.category_id=#{categoryId}</if>
        ORDER BY c.create_time DESC LIMIT 0,4
    </select>

    <select id="selectByIdForDetail"
            resultType="cn.tedu.baking.pojo.vo.ContentDetailVO">
        SELECT c.id,
               title,
               brief,
               video_url,
               c.img_url,
               content,
               type,
               view_count,
               comment_count,
               c.create_time,
               u.nick_name,
               u.img_url userImgUrl,
               u.id      userId
        FROM t_content c
                 JOIN t_user u
                      ON c.create_by = u.id
        WHERE c.id = #{id}
    </select>
    <select id="selectByUserId"
            resultType="cn.tedu.baking.pojo.vo.ContentSimpleVO">
        SELECT id, title, img_url, create_time
        FROM t_content
        WHERE create_by = #{userId}
        ORDER BY create_time DESC LIMIT 0,4
    </select>
    <select id="selectHot"
            resultType="cn.tedu.baking.pojo.vo.ContentSimpleVO">
        SELECT id, title, img_url, create_time
        FROM t_content
        ORDER BY view_count DESC LIMIT 0,4
    </select>

    <update id="updateViewCountById">
        UPDATE t_content
        SET view_count=view_count + 1
        WHERE id = #{id}
    </update>

    <select id="selectListByType"
            resultType="cn.tedu.baking.pojo.vo.ContentIndexVO">
        SELECT c.id,
               c.title,
               cat.name  categoryName,
               u.nick_name,
               u.img_url userImgUrl,
               c.img_url
        FROM t_content c
                 JOIN t_category cat
                      ON c.category_id = cat.id
                 JOIN t_user u ON c.create_by = u.id
        WHERE c.type = #{type}
        ORDER BY c.create_time DESC
    </select>
    <select id="selectByWd"
            resultType="cn.tedu.baking.pojo.vo.ContentIndexVO">
        SELECT c.id,
               c.title,
               cat.name  categoryName,
               u.nick_name,
               u.img_url userImgUrl,
               c.img_url
        FROM t_content c
                 JOIN t_category cat
                      ON c.category_id = cat.id
                 JOIN t_user u ON c.create_by = u.id
        WHERE c.title LIKE CONCAT('%', #{wd}, '%')
        ORDER BY c.create_time DESC
    </select>

    <update id="updateCommentCountById">
        UPDATE t_content
        SET comment_count=comment_count + 1
        WHERE id = #{contentId}
    </update>

    <select id="selectByTypeForAdmin"
            resultType="cn.tedu.baking.pojo.vo.ContentAdminVO">
        SELECT c.id
             , c.title
             , c.img_url
             , brief
             , cat.name categoryName
             , view_count
             , comment_count
             , c.create_time
        FROM t_content c
                 JOIN t_category cat ON c.category_id = cat.id
        WHERE c.type = #{type}
    </select>


</mapper>







