<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.baking.mapper.UserMapper">
    <select id="selectByUserName"
            resultType="cn.tedu.baking.pojo.vo.UserVO">
        SELECT id, password, nick_name, is_admin, img_url
        FROM t_user
        WHERE user_name = #{userName}
    </select>
    <insert id="insert">
        INSERT INTO t_user(user_name, password, nick_name, is_admin, create_time)
        VALUES (#{userName}, #{password}, #{nickName}, 0, #{createTime})
    </insert>
    <update id="update">
        UPDATE t_user
        <set>
            <if test="nickName!=null">nick_name=#{nickName},</if>
            <if test="imgUrl!=null">img_url=#{imgUrl},</if>
            <if test="isAdmin!=null">is_admin=#{isAdmin}</if>
        </set>
        WHERE id=#{id}
    </update>
    <select id="selectImgUrlById" resultType="string">
        SELECT img_url FROM t_user WHERE id=#{id}
    </select>
    <select id="select" resultType="cn.tedu.baking.pojo.vo.UserAdminVO">
        SELECT id,user_name,nick_name,img_url,is_admin,create_time
        FROM t_user ORDER BY create_time DESC
    </select>
    <delete id="deleteById">
        DELETE FROM t_user WHERE id=#{id}
    </delete>
</mapper>







